/* Settings Tab Styles */

.codeblock-highlighter-mapping-item {
  border-top: none;
  padding-top: 0;
}

.codeblock-highlighter-mapping-arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 10px;
  color: var(--text-muted);
}

.codeblock-highlighter-mapping-button {
  width: 80px;
  margin-left: 10px;
}
