/* Source Mode / Live Preview */
.markdown-source-view.mod-cm6 .cm-content > .HyperMD-codeblock {
  color: var(--codeblock-highlighter-fg) !important;
  caret-color: var(--codeblock-highlighter-fg) !important;
  background-color: var(--codeblock-highlighter-bg) !important;

  .code-block-flair {
    color: var(--codeblock-highlighter-fg) !important;
  }
}

/* Reading View */
pre button.copy-code-button {
  color: var(--codeblock-highlighter-fg) !important;
}

/* Settings Tab Styles */

.codeblock-highlighter-mapping-item {
  border-top: none;
  padding-top: 0;
}

.codeblock-highlighter-mapping-button {
  width: 60px;
}
