name: Release

on:
  push:
    tags:
      - '*'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Bun
        uses: oven-sh/setup-bun@v1
        with:
          bun-version: latest

      - name: Install dependencies
        run: bun install

      - name: Build plugin
        run: bun run build

      - name: Zip artifacts
        run: zip -r codeblock-highlighter.zip manifest.json main.js styles.css

      - name: Create Release
        uses: softprops/action-gh-release@v2
        with:
          files: |
            manifest.json
            main.js
            styles.css
            codeblock-highlighter.zip
          token: ${{ secrets.GITHUB_TOKEN }}
